nav,
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: auto;
  background-color: lightcyan;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Zen Dots", cursive;
}
#About {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100;
}

table {
  width: 60%;
  border-collapse: collapse;
  color: rgb(255, 81, 0);
}
section {
  display: flex;
  flex-direction: column;
  padding: 20;
  align-items: center;
}
h2 {
  align-items: center;
  color: navy;
}
h3 {
  align-items: center;
  font: bolder;
  color: rgb(237, 100, 130);
  padding: auto;
}
#Contacts {
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space;
  padding-top: 0;
}
.form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.map {
  width: 50%;
}
.form-container input,
textarea,
button {
  margin-bottom: 10;
  border-radius: 4;
  border-style: double;
}

.submit {
  background-color: blue;
}
.btn {
  color: blueviolet;
}
.btn:hover {
  border: chartreuse;
}
img:hover {
  width: 70%;
  height: 80%;
}
